<h1>Welcome to  {{title}}</h1>

<form #basicForm="ngForm" (ngSubmit)="getData(basicForm.value)">
    <input type="text" ngModel name="user" placeholder="Enter your Name" > <br><br>
    <input type="text" ngModel name="email" placeholder="Enter your email" > <br><br>
    <input type="text" ngModel name="password" placeholder="Enter Password" > <br><br>

    <button type="button" >Register</button>
</form> 

<ul>
    <li>{{userData.user}}</li>
    <li>{{userData.email}}</li>
    <li>{{userData.password}}</li>
</ul>